each article,index in articleList
    div.col.s12.list-item
        a.item-title(href='/article/detail/#{article._id}')= article.title
        div.item-author
            span= article.nickname
            span 发表于
            span= article.addtime.toString().split('GMT')[0]
        div.item-desc #{article.desc}

        div.right-align.item-info
            span 阅读(#{article.reading})
            span 评论(10)
            div
                span.hide-on-small-and-down 分类:
                a(href='#') javascript
                //a.hide-on-small-and-down /
                //a(href='#') js集合