extends ../layout.simple
block css
    link(rel='stylesheet',href='/components/wangEditor/dist/css/wangEditor.min.css')
    link(rel='stylesheet',href='/css/common/wangEditor-theme.css')
    link(rel='stylesheet',href='/css/article/detail.css')
block content
    if article
        div.view-article-detail
            h5.center-align.article-title= article.title
            div.center-align.article-info
                a= article.user ? article.user.nickname : '获取失败'
                span 发表于: #{article.addtime.toString().split('GMT')[0]}
                span 分类:
                    a(href='#') #{(article.category && article.category.name) || '暂无'}
                span 阅读( #{article.reading} )
                span 评论
                    a.js-ccount(href='#comments') ( #{(article.comments && article.comments.length) || 0} )
            div.article-desc
                p.yux-title
                    span 简介:
                p #{article.desc}
            div.article-content.wangEditor-container
                div.article-content.wangEditor-txt
                    | !{article.content}
            div.grey.lighten-5.article-support.hide
                h5 I know you like it,Thanks for reading!
                button.btn.teal 测试按钮
            div.article-pre-after
                //div.left
                //    i.fa.fa-arrow-left
                //    a 这是一篇神奇的文章
                //div.right
                //    a 这也是一篇神奇的文章
                //    i.fa.fa-arrow-right
            div.article-options
                div.row
                    div.col.m2.s12
                        p.right-align 温馨提示
                    div.col.m10.s12
                        span.
                            本站包含转载和原创文章，
                            目前文章仅为我的学生定制，
                            如果你需要分享，
                            不用问我，随意复制和转发，以供大家学习参考，
                            如果发现其中的知识技术点错误，请务必指出，
                            本人会及时更改。
                div.row
                    div.col.m2.s12
                        p.right-align 转载链接
                    div.col.m10.s12
                        a(href='/article/detail/#{article._id}')= 'http://www.moguiweb.com.cn/article/detail/' + article._id
                        a#copyUrl.hide(href='/article/detail/#{article._id}')= 'http://www.moguiweb.com.cn/article/detail/' + article._id
                        i#copyBtn.fa.fa-copy(data-clipboard-target='#copyUrl') 复制

            div.article-share
                span 分享到：
                a.fa.fa-qq
                a.fa.fa-weixin
                a.fa.fa-weibo

            div#comments.article-comments
                div.comments-menu
                    p.left.list-title
                        span.js-ccount #{(article.comments && article.comments.length) || 0}条评论
                        span (
                        a 按时间排序
                        a 按评论排序
                        a 按喜欢排序
                        span )
                    p.right

                        a(href='#comments-list')
                            i.fa.fa-pencil-square-o
                            | 我要评论
                div#commentsList.comments-list
                    p 加载中。。。
                div.input-field#comment-module1
                    textarea#input-comments.materialize-textarea(length='120')
                    label(for='input-comments') 对 #{article.user ? article.user.nickname : '作者'} 吐槽：
                div
                    button#addComments.btn.left 评论
block javascript
    script(src='/components/clipboard/dist/clipboard.min.js')
    script(src='/js/article/detail.js')