aside.main-aside
    div.search-wrapper
        input#search(placeholder='请输入关键字')
        i.fa.fa-search#btnSearch
    ul.menu-wrapper
        li
            p.menu-title 文章分类
            div.menu-hotlabel
                for item in categoryList||[]
                    if item.level == 2 && (!column || (column && item.column == column))
                        a(href='/article/list/#{item.column || 1}/#{item._id}') #{item.name}
        li
            p.menu-title 近期文章
            ul.menu-type
                each article in recentArticles||[]
                    li
                        a(href="/article/detail/#{article._id}") #{article.title}
