div.view-header.navbar-fixed
    nav.nav-white
        div.nav-wrapper
            div.container
                div.row
                    div.col-xs-12
                        a.brand-logo(href='#')
                            i.fa.fa-paper-plane-o
                            | yux
                            a.button-collapse(data-activates='mobile-nav')
                                i.fa.fa-bars
                            -var hasLogin = user ? 1 : 0;
                            ul.hide-on-med-and-down.header-nav
                                each item in menus
                                    if item.position == 1 && (item.show == 2 || item.show == hasLogin)
                                        if item.current
                                            li.active
                                                a(href="#{item.url}",data-id="#{item.attr}") #{item.title}
                                        else
                                            li
                                                a(href="#{item.url}",data-id="#{item.attr}") #{item.title}
                            ul.hide-on-med-and-down.header-nav.right
                                if user
                                    if usercenter
                                        li.active
                                            a(href='/user/index') #{user.nickname}
                                    else
                                        li
                                            a(href='/user/index') #{user.nickname}
                                each item in menus
                                    if item.position == 2 && (item.show == 2 || item.show == hasLogin)
                                        li
                                            a(href='#{item.url}',data-id="#{item.attr}") #{item.title}

                            ul.side-nav#mobile-nav
                                each item in menus
                                    if  item.show == 2 || item.show == hasLogin
                                        if item.current
                                            li.active
                                                a(href="#{item.url}",data-id="#{item.attr}") #{item.title}
                                        else
                                            li
                                                a(href="#{item.url}",data-id="#{item.attr}") #{item.title}
                                if user
                                    if usercenter
                                        li.active
                                            a(href='/user/index') #{user.nickname}
                                    else
                                        li
                                            a(href='/user/index') #{user.nickname}